html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    color: #3a3a3a !important;
    line-height: 1.6;
}

.article-content pre {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}
.article-content img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
}

.article__item a.no-hover:hover {
  color: inherit;
  text-decoration: none;
}

.opening__image {
  position: relative;
  padding-top: 0.5rem;
}

.opening__image .img_square {
  position: relative;
  box-sizing: content-box;
  height: 0;
  width: 100%;
  /* bottom padding in percents of the parent WIDTH! to have a square div */
  padding-bottom: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 2px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
}

@media(max-width: 991px) {
  .opening__image {
    position: relative;
    max-width: 460px;
    margin: 0 auto;
    padding-top: 0;
  }
  .opening__image .img_square {
    padding-bottom: 50%;
    box-shadow: -1px 1px 2px 0 rgba(0,0,0,0.25);
  }

}

@media print {
    .page-header, .page-footer, .community-cta-wrapper, .article-footer, .share, .article-tag-list {
        display: none;
    }
}

.main__image {
    max-width: 80%;
    max-height: 600px;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 1px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.25);
}

.page-intro--blog-article {
    margin-top: 0px;
    padding-top: 100px;
}

.page-content--blog-article .opening__image {
    max-width: 100%;
}

.article__item a {
    color: black;
}

.article__item a:hover {
    color: #f96315;
}

h3.article__titile {
    color: black;
}

.engage table thead th {
    border-bottom: 1px solid #e1d9d4;
}

.engage table thead th {
    padding: 0.3em 0.5em;
}

#page-header iframe {
    position: absolute;
    margin-left: 15px;
    top: 20px;
}

@media screen and (max-width: 989px) {
    #page-header iframe {
        top: 20px;
    }
}

.engage p {
    font-weight: 500;
    margin-bottom: 0;
}

.engage table {
    margin-top: 0;
}

#page-header {
    background-color: white;
    height: 72px;
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    position: fixed;
}

.page-intro,
.page-content--blog {
    padding-top: 100px;
}

.page-logo {
    padding-top: 0;
}

.page-nav__list {
    padding: 17px 0 0;
}

ul.page-nav__list {
    top: 40px;
}

#page-nav-button {
    top: 12px;
}

@media only screen and (min-width: 1169px) {
  .container {
    max-width: 920px;
  }
}

:target {
  animation-duration: 2s;
  animation-name: anchor-fadeout;
}

@keyframes anchor-fadeout {
  0 {
    background-color: transparent;
  }

  12.5% {
    background-color: rgba(0, 178, 173, 0.25);
  }

  25% {
    background-color: rgba(0, 178, 173, 0.25);
  }

  100% {
    background-color: transparent;
  }
}

.article-content h3:not(:first-child) {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.article-content h4:not(:first-child) {
  margin-top: 2rem;
}

.article-content a {
    text-decoration: none;
    color: #333333;
    border-bottom: 2px solid #fac5a8;
}

.article-content p {
    line-height: 1.6;
}

.article-content strong {
    color: maroon;
}

table tbody td {
    color: #3a3a3a;
}

.article__meta .share {
    margin-top: 5px;
}

.share__item {
    margin-right: 10px;
}

.page-intro__header {
    border-bottom: 2px solid #e1d9d4;
    padding-bottom: 10px;
}

.page-intro--blog-article {
    margin-bottom: 20px;
}

.page-intro__title--blog {
    font-size: 30x;
}

.engage {
    font-size: 15px;
}

.engage table {
    line-height: 0.7;
    font-size: 15px;
    margin-bottom: 10px;
}

/* make code oneliners bold */

pre code {
    font-weight: 400;
}

code {
    font-weight: 600;
    font-size: 0.75rem;
}

/* override hljs background color which conflicts with our style */
.hljs {
    background-color: inherit;
}

.article-content figure {
    max-width: 50%;
    float: left;
    margin-right: 20px;
}
