html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.article-content pre{
    margin-left:0;
    margin-right:0;
    max-width: 100%;
}

.opening__image{
    max-width: 80%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.page-content--blog-article .opening__image {
    max-width: 100%;
}

.article__item a {
    color: black;
}

.article__item a:hover {
    color: #f96315;
}

h3.article__titile {
    color: black;
}

.article-author__title {
    float: right;
    font-weight: 500;
    color: #217bc1;
}

.engage table thead th {
  border-bottom: 1px solid #e1d9d4;
}

.engage table thead th {
  padding: .3em .5em;
}

#page-header iframe{
  position: absolute;
  margin-left: 15px;
  top: 50px;
}

@media screen and (max-width: 989px){
  #page-header iframe {
    top: 35px
  }
}

.engage p {
  font-weight: 500;
  margin-bottom: 0;
}

.engage table {
  margin-top: 0;
}

